        HTML {	background-image: url("/media/background.png");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }






    	body {
        	max-width: 940px;
            margin-left: auto;
            margin-right: auto;
            color: white;
            margin-top:300px;
            background-image: url("gradient_bg.png");

    	}

    	.classmatez {
            padding-bottom:15px;

    	}


    	.a-box {
    	    width: 45%;
    	    height: 250px;
    	    float:left;
    	    border-right:1px solid white;
    	}


    	.b-box {
    	    width: 45%;
    	    height: 250px;
    	    float:right;

    	}



        /* Full-width inputs */
        input[type=text], input[type=password] {
            border-radius: 15px;
            width: 100%;
            padding: 14px 20px;
            display: inline-block;
            border: 1px solid black #ccc;
            box-sizing: border-box;

        }




        /* Set a style for all buttons */
        input[type=submit] {

            background-color: #4CAF50;
            color: white;
            padding: 13px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
        }


        /* Extra style for the cancel button (red) */
        .sign-up {
                padding-top: 14px;
                text-align: center;
                font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                font-weight: normal;
                font-size: 14px;
        }





        /* The "Forgot password" text */
        span.psw {
            float: right;

        }



    a {
        color:green;
    }
