<!--To view About page-->
<!DOCTYPE html>
{% extends 'ClassMateZ/base.html' %}
{% load staticfiles %}

<html class="test">
    <head>
        <title>
            {% block title_block %}
                About
            {% endblock %}
        </title>

    <body>
    {% block body_block %}

        <dir style="width:300px;">
        <img src="/media/ClassMateZ-smaller.png" style="width:100%; margin:auto;"><!-- The Icon of ClassMateZ -->
        </dir>
        <p>
            ClassMateZ is a web application designed to help students at
            university connect with their classmates, make friends and
            meet new people across their courses. Students will sign up
            for an account and select their classes where they can choose
            which area of the lecture theatre they plan on sitting in,
            which other classmates can see and choose to sit together.
            Students can see where their classmates have chosen to sit,
            as well as coming together to form Squadz which can be
            across multiple different zones in a lecture theatre. Students
            can also see what other students share classes with them, in
            order of most shared classes to least.
        </p>


        <h3 style="padding-bottom:5px; padding-top:15px;">Creature</h3>
        <dir style="margin: auto; width: 100%; text-align: center;">


                <div style="margin: auto; width:25%; float: left;"> <!-- Carlos image -->
                  <a href="https://github.com/aquaktus/ClassMateZ"> <!-- Carlos Github ClassMateZ project link -->
                  <img class="img-responsive img-thumbnail" src="/media/Carlos Gemmell.jpg" style="height:auto; width:auto;">
                  <div class="container">
                    <p>Carlos Gemmell</p>
                  </div>
                </div>

                <div style="margin: auto; width: 25%; float: left;"> <!-- Angelos image -->
                  <img class="img-responsive img-thumbnail" src="/media/Angelos Perivolaropoulos.jpg" style="height:auto; width:auto;">
                  <a href="https://github.com/aeroniero33/ClassMateZ"> <!-- Angelos Github ClassMateZ project link -->
                  <div class="container">
                    <p>Angelos Perivolaropoulos</p>
                  </div>
                </div>

                <div style="margin: auto; width:25%; float: left;"> <!-- Mohammed image -->
                  <img class="img-responsive img-thumbnail" src="/media/Mohammed Al-Hinai.jpg" style="height:auto; width:auto;">
                  <a href="https://github.com/AL-Hinai/ClassMateZ"> <!-- Mohammed Github ClassMateZ project link -->
                  <div class="container">
                    <p>Mohammed Al-Hinai</p>
                  </div>
                </div>

                <div style="margin: auto; width:25%; float: left;"> <!-- Matthew image -->
                  <img class="img-responsive img-thumbnail" src="/media/Matthew Lennon.jpg" style="height:auto; width:auto;">
                  <a href="https://github.com/MLennon7/ClassMateZ"> <!-- Matthew Github ClassMateZ project link -->
                  <div style="padding-bottom:50px;" class="container">
                    <p>Matthew Lennon</p>
                  </div>
                </div>


                <!-- ClassMatez  slogan -->
                <dir><a style="background-color:white; list-style-type: none; color:black; margin:20px; display: inline;" href="">ClassMatez! The quaternity of doom!</a></dir>



        </dir>





        <!-- fotter -->
        <div style="position: relative;bottom: -35px;">ClassMateZ have been coded and desinged for Web Application Development 2 (Team Project). University of Glasgow</div>


    {% endblock %}
    </body>

</html>