
<!DOCTYPE html>
{% extends 'ClassMateZ/base.html' %}
{% load staticfiles %}

<html class="test">
    <head>
        <title>
            {% block title_block %}
                About
            {% endblock %}
        </title>

    <body>
    {% block body_block %}

        <h1>classmateZ</h1>

        <p>
            is a web application designed to help students at
            university connect with their classmates, make friends and
            meet new people across their courses. Students will sign up
            for an account and select their classes where they can choose
            which area of the lecture theatre they plan on sitting in,
            which other classmates can see and choose to sit together.
            Students can see where their classmates have chosen to sit,
            as well as coming together to form Squadz which can be
            across multiple different zones in a lecture theatre. Students
            can also see what other students share classes with them, in
            order of most shared classes to least.
        </p>


        <h3>Creature</h3>
        <p>
            <ul>
                <li>Carlos Gemmell</li>
                <li>Angelos Perivolaropoulos</li>
                <li>Mohammed Al-Hinai</li>
                <li>Matthew Lennon</li>
            </ul>
        </p>

        <div style="position: relative;bottom: 0px;">ClassMateZ have been coded and desinged for Web Application Development 2 (Team Project). University of Glasgow</div>


    {% endblock %}
    </body>

</html>