<!DOCTYPE html>
{% extends 'ClassMateZ/base.html' %}
{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title_block %}
                Index
            {% endblock %}
        </title>

        <!-- stylesheet, js and jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            });
        </script>

    </head>
    <body>
    {% block body_block %}
        <img class="classmatez" src="{{ MEDIA_URL }}ClassmateZ.png" style="margin:auto; width:100%; padding:10px; padding-bottom:35px;" /> <!-- classmatez Icon -->

        {% if user.is_authenticated %}
        <dir style="background-color:white; border-radius: 15px; padding: 2px; "> <!-- background boder for the table and the text(Since you aren't signed in, ClassMateZ has limited functionality)  -->
            <dir>
                <div style="font-size:36px; text-transform:capitalize;" >Today is {{day}}</div> <!-- show Day -->
                </br>
                <a href="{% url 'app:index' %}">show <b>Today</b></a> <!-- Link to show the week time table -->


                <!-- time table start section -->
                <dir class="table-responsive">
                    <table style="" class="table">
                        <thead style="">
                            {% for class in userClasses.classes.all %}
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                        </tbody>

                        {% endfor %}
                    </table>

                    {% else %}

                    <h3>Since you aren't signed in, ClassMateZ has limited functionality</h2>

                    {% endif %}
                    {% endblock %}
                </dir>
                <!-- time table start section END -->

            </dir>
        </dir>

    </body>
</html>