<!DOCTYPE html>
{% extends 'ClassMateZ/base.html' %}
{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title_block %}
                Index
            {% endblock %}
        </title>

    <body>
{% block body_block %}
    <img class="classmatez" src="/media/ClassmateZ.png" style="margin:auto; width:100%; padding:10px;">
    <ul style="list-style-type: none; margin: auto; width: 30%;">



    <li style="
    float: left;">
    <a href="/app/login" type="button" class="btn btn-primary">Log in </a></li>


    <li style="
    ">
    <a href="/app/register" type="button" class="btn btn-primary">Sign Up </a></li>

    </<ul>
{% endblock %}
    </body>
</html>