<!-- this html help to get and view the timetable for classes in the index page -->

<!DOCTYPE html>
{% extends 'ClassMateZ/base.html' %}
{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title_block %}
                Class
            {% endblock %}
        </title>

    <body>

    {% block body_block %}
    <h1>The class is {{ classToShow.name }}</h1>
    <h1>Place is {{ classToShow.place.layout.image }}</h1>
    </br>
    <div id="cont" width="100%" height="auto">
    <img id="layout" src="/media/{{ classToShow.place.layout.image }}" style="z-index: -1;" width="960" height="540" alt="Planets" usemap="#planetmap">

    <map name="planetmap">
        {% for zoneNbr in nbrOfZones %}
            <area onclick="zoneClicked({{ zoneNbr }})" class="zoneMap" id="zoneMap{{ zoneNbr }}" shape="poly" coords="" alt="Sun">
        {% endfor %}
    </map>
    </div>
    <div>
        <h3>Users in this zone:</h3></br>
        <dir class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>User</th>
                  </tr>
                </thead>
                <tbody id="userTableBody">

                </tbody>
            </table>
        </dir>
    </div>
    <div>
        <form class="form-horizontal" id="profile_form" method="post" action="{% url 'app:showClass' classToShow.classId %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" id="zoneNbr" name="zoneNbr" value="0"></div>
            </div>
            <div class="form-group">
                <select class="form-control" id="choiceField" name="choice">
                    <option value="1">Join Zone</option>
                    <option value="0">Leave Zone</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" value="submit">Save Changes</button>
            </div>
        </form>
    </div>
    <script>
    var coordsList = "{{zonesCoordList}}".split(";");
    var currentZone = 0;
    $(document).ready(function(){
       var result = $("#cont").width();
       $("#layout").width(result).height(result*0.5625);
       for (i in {{nbrOfZones}}){
            var coords = coordsList[i].split(",");
            var newCoords = "";
            for (var j = 0; j < coords.length; j++){
                newCoords = newCoords + (String(parseInt(Math.round(coords[j]*(result/960)))) + ",")
            }
            var newCoords = newCoords.substring(0, newCoords.length-1);
            $("#zoneMap" + String(i)).attr("coords", newCoords)
       }



    });
    $( window ).resize(function() {
        var result = $("#cont").width();
       $("#layout").width(result).height(result*0.5625);
       for (i in {{nbrOfZones}}){
            var coords = coordsList[i].split(",");
            var newCoords = "";
            for (var j = 0; j < coords.length; j++){
                newCoords = newCoords + (String(parseInt(Math.round(coords[j]*(result/960)))) + ",")
            }
            var newCoords = newCoords.substring(0, newCoords.length-1);
            $("#zoneMap" + String(i)).attr("coords", newCoords)
       }
    });

    function zoneClicked(zid){
        currentZone = zid;
        $("#zoneNbr").val(String(currentZone));
        console.log($("#zoneNbr").val());
        $("#userTableBody").empty();
        {% for zone in zones %}
            if ({{ zone.zoneNumber }} == zid){
                console.log("{% for user in zone.users.all %}{{ user.name }}{% endfor %}")
                $('#userTableBody').html("{% for user in zone.users.all %}<tr><td>{{ user.name }}</td></tr>{% endfor %}");

            }

        {% endfor %}
    }

    </script>

    {% endblock %}

    </body>
</html>